<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{{repository_name}}/style.css">
  <script src="{{repository_name}}/script.js"></script>
</head>
<body>

<a class="skip" href="#main">Press enter to jump to the main content</a>

<header data-scroll>
  <nav>
    <a href="#section1">Section1</a>
    <a href="#section2">Section2</a>
    <a href="#section3">Section3</a>
  </nav>
  <button type="menu"></button>
</header>

<main id="main">
<section id="section1">
</section>
<section id="section2">
</section>
<section id="section3">
</section>
</main>

<footer>

</footer>
</body>
</html>